
@charset "utf-8";

/*
스타일문서를  외부에 스타일문서를 불러올때
@import url("스타일문서경로");
*/

/*
html5태그는 브라우저마다 초기화값이 다르기때문에 
기존의 초기화스타일문서에 불러와서 사용
*/

/* 요소(element) 여백 초기화  */
html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
blockquote, p, address, pre, cite,
form, fieldset, input, textarea, select,
table, th, td {
	margin:0;
	padding:0;
	}

/* 제목요소 */
h1, h2, h3, h4, h5, h6 {  
	font-size:100%;   
	font-weight:normal;   
	} 

/* 테두리 없애기 */
fieldset, img, abbr,acronym { border:0 none; } 

/* 목록 */
ol, ul,li { list-style:none; }

/* 테이블 - 마크업에 'cellspacing="0"' 지정 함께 필요 */
table {
	border-collapse:collapse;
	border-spacing:0;
	border:0 none;
	}
caption, th, td {
	text-align:left;
	font-weight: normal;
}

/* 텍스트 관련 요소 초기화 */
address, caption, strong, em, cite {
	font-weight:normal;
	font-style:normal;
	}
ins { text-decoration:none; }
del { text-decoration:line-through; }

/* 인용문 */
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }

/* 수평선*/
hr { display:none; }

/* 이미지, 폼관련 배치=> 한줄기준으로 세로배치 설정 */
img { 	vertical-align:top;}
label, select, input, textarea { vertical-align:middle;}

/*숨김요소 */
.hid{ position:absolute; left:-1000px; top:0; font-size:0; width:1px; height:1px; line-height:0;}
.dis{ display:block;}

/* 웹사이트의 폰트체를 사용할때 사이트주소 불러오고 폰트스타일선언한다 */
@import url(http//fonts.googleapis.com/css?family-Poiret+One);

/*폰트체를 직접 다운받아서 웹문서에 폰트스타일 사용할때 font-face 선언하기*/
@font-face{ 
font-family: NanumGothic;
src: url(../fonts/NanumGothic.eot);/* ie6~8 */
src: local(※), url(../fonts/NanumGothic.woff) format('woff');
/* ie9, Chrom, safari, opera, firefox */
}



/*
문서전체 폰트스타일 링크스타일
body{} / a{} /a:hover{}
*/
body {
font:100%/1.6 NanumGothic, Arial, Helvetica, sans-serif, "굴림체" ; 
}
/* 링크 */
a{text-decoration:none;}
a:hover{text-decoration:none;}


article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block; margin:0; padding:0;
}

