@charset "utf-8";

/* 로그인 페이지 */

body{height:100%; background:#ffffff;}
.loginWrap{width: 100%; text-align:center;}
.login_content{padding-top: 14%;}
.login_content .logo{margin: 0 auto 85px; width:83px; height:50px; background:url(../images/rad/login_logo.png) no-repeat; background-size:cover; background-position:center;}
.login_content .login_form{width: 100%; margin-bottom: 40px;}
.login_content .login_form>ul{width: 260px; height: 36px; margin: 0 auto; border-bottom: 1px solid #f3f5f7; padding: 0 20px 6px; margin-bottom: 20px;}
.login_content .login_form>ul>li{float: left; position:relative;}
.login_content .login_form>ul>li>img{width:17px; margin-right: 47px; margin-top: 3px;}
.login_content .login_form>ul.idpw>li>input{width: 160px; height: 25px; padding:0; text-align: center; line-height: 25px; font-size: 13px; font-weight: 300; color: #7a7a7a; font-family: inherit; border:0;  border-radius: 0; outline-style: none; -webkit-appearance: none;}
.login_content .login_form>ul.jiwonBox>li>input{display: inline-block; width: 16px; height: 16px; margin-top: 4px; background:url(../images/rad/login_radio.jpg) no-repeat; outline-style: none; -webkit-appearance: none; cursor:pointer;}
.login_content .login_form>ul.jiwonBox>li>input:checked{background:url(../images/rad/login_radio_on.jpg) no-repeat;}
.login_content .login_form>ul.jiwonBox>li>label{display: inline-block; margin: 2px 17px 0 2px; cursor:pointer;}
.login_content .login_form>ul>li>input[type=password]{letter-spacing:1px;}
.login_content .login_form>ul.idpw>li>label{position:absolute; top:0; left:0; width: 160px; height: 25px; text-align: center; line-height: 25px; font-size: 13px; font-weight: 300; letter-spacing: -0.3px; color: #7a7a7a; font-family: inherit; border:0;  border-radius: 0; cursor:text; outline-style: none; -webkit-appearance: none;}
.login_content .login_btn{}
.login_content .login_btn>.btnMd{margin-bottom: 20px;}
.login_content .login_btn>.btnMd>a{font-weight: 300; letter-spacing: 0.2px; padding: 0; width: 300px; line-height: 39px; background:#3b84ff;
box-shadow: 0 4px 10px 0px rgba(59,132,255,0.4);}
.login_content .login_btn .login_check{}
.login_content .login_btn .login_check label{cursor: pointer; letter-spacing: -0.5px;}
.login_content .login_btn .login_check input[type=checkbox]{margin-left:3px;}

#footer{position: fixed; bottom: 0;}
#footer .footerWrap{width: auto;}
#footer .footerWrap>.txt1{display:block;}
#footer .footerWrap>.txt2{display:none;}


@media screen and (max-width:780px) {

.login_content {padding-top: 24%;}
.login_content .logo {width: 30%; height: auto; margin: 0 auto 50px; padding-bottom: 18%; background: url(../images/rad/login_logo_m.jpg) no-repeat; background-size: cover; background-position: center;}
.login_content .login_form>ul{width: 45%;}
.login_content .login_form>ul>li>input[type=password]{font-size:10px;}
.login_content .login_form>ul>li:nth-child(1){width:30%;}
.login_content .login_form>ul>li:nth-child(2){width:63%;}
.login_content .login_form>ul.idpw>li>label{left: 50%; margin-left: -80px;}
.login_content .login_btn>.btnMd{width: 100%;}
.login_content .login_btn>.btnMd>a{width: 50%; margin: 0 auto; font-weight: 400; font-size:16px; line-height: 43px; border-radius: 22px;}
#footer{position: relative; margin-top: 15%; border:0;}
#footer .footerWrap>.txt1{display:none;}
#footer .footerWrap>.txt2{display:block; padding: 0;}

}

@media screen and (max-width:660px) {

.login_content .login_form>ul {width: 65%;}
.login_content .login_form>ul>li:nth-child(1) {width: 20%;}
.login_content .login_form>ul>li:nth-child(2) {width: 80%;}
.login_content .login_btn>.btnMd>a{width: 70%;}

}

@media screen and (max-width:360px) {
.login_content .login_form>ul{width: 75%; padding: 0 15px 6px;}
.login_content .login_form>ul>li:nth-child(1) {width: 10%;}
.login_content .login_form>ul>li:nth-child(2) {width: 90%;}
.login_content .login_btn>.btnMd>a{width: 80%;}
}





















