@CHARSET "UTF-8";

html, body{overflow: hidden;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: middle;
	font-family:'RixBusan_L', NanumGothic, Arial, Helvetica, sans-serif, "굴림체" ;
	font-size:14px;
	color:#283444;
	letter-spacing: -1px;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

fieldset, img, abbr,acronym { border:0 none; } 
ol, ul,li { list-style:none; margin: 0; padding: 0;}
table {
	border-collapse:collapse;
	border-spacing:0;
	border:0 none;
	}
caption{display:none;}
th, td {
	text-align:center;
	font-weight: normal;
}

address, trong, em, cite {
	font-weight:normal;
	font-style:normal;
	}
	
ins { text-decoration:none; }
del { text-decoration:line-through; }

blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }

.cf:after, .cf:before {
    content: "";
    display: block;
    clear: both;
	visibility: hidden; 
	line-height: 1%; 
	height: 0; 
}

a {color: inherit; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none;}
a[href^="tel"]{color:inherit;text-decoration:none;}

hr {display:none;}

button{appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
	cursor:pointer;}

label{font-size: 16px;color: #fff;cursor:pointer;}

/* input 기본 스타일 초기화 */
input[type=text], input[type=tel]{
width:225px;
padding: 1.4% 2%;
font-size: 16px;
font-family: inherit;
color: #fff;
letter-spacing: 0;
background:#083f8b;
border: 0;
border-radius: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

input[type=checkbox]{
width:13px;height:13px;
margin: 0;
border: 1px solid #fff;
vertical-align: middle;
background:#0a4799;
cursor:pointer;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

input[type=checkbox]:checked{
background:#0a4799 url(../images/event/input_checked.jpg) no-repeat;
background-position: center;
background-size: contain;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

textarea{
margin: 0;
padding: 2% 3%;
font-size: 2.2em;
font-family: inherit;
border: 1px solid #e3e3e3;
letter-spacing: -1.5px;
border-radius: 0;
resize:none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}


/* Select box 스타일 초기화 */ 
select {
width: 31%;
padding: 2% 3%;
font-size: 2em;
font-family: inherit;
color: #222;
letter-spacing: -1.5px;
cursor: pointer;
border: 0;
border-radius: 0;
background:#fff url(/images/sub/select_bg.png) no-repeat;
background-position: 90% 50%;
background-size: 13%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }

select:focus,input:focus,button:focus,textarea:focus {
  outline: none;
}

/*스크롤바*/


/* For the "inset" look only */
html {
    overflow: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
	background: rgba(0,0,0,0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(0,0,0,0.2); 

}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.5);
}




@font-face {
font-family: 'RixBusan_M';
src: url('font/RixBusanStation_Medium.eot'),
     url('font/RixBusanStation_Medium.woff') format('woff'),
     url('font/RixBusanStation_Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'RixBusan_L';
src: url('font/RixBusanStation_Light.eot'),
     url('font/RixBusanStation_Light.woff') format('woff'),
     url('font/RixBusanStation_Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'RixBusan_T';
src: url('font/RixBusanStation_Thin.eot'),
     url('font/RixBusanStation_Thin.woff') format('woff'),
     url('font/RixBusanStation_Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

