
@font-face {
    font-family: 'NSR_L';
    src: url('font/NanumSquareRoundL.eot'),
			url('font/NanumSquareRoundL.woff') format('woff'),
			url('font/NanumSquareRoundL.ttf') format('truetype'),
			url('font/NanumSquareRoundL.otf') format('opentype');
	}
	
@font-face {
    font-family: 'NSR_R';
    src: url('font/NanumSquareRoundR.eot'),
			url('font/NanumSquareRoundR.woff') format('woff'),
			url('font/NanumSquareRoundR.ttf') format('truetype'),
			url('font/NanumSquareRoundR.otf') format('opentype');
	}
	
@font-face {
    font-family: 'NSR_B';
    src: url('font/NanumSquareRoundB.eot'),
			url('font/NanumSquareRoundB.woff') format('woff'),
			url('font/NanumSquareRoundB.ttf') format('truetype'),
			url('font/NanumSquareRoundB.otf') format('opentype');
	}
	
@font-face {
    font-family: 'NSR_EB';
    src: url('font/NanumSquareRoundEB.eot'),
			url('font/NanumSquareRoundEB.woff') format('woff'),
			url('font/NanumSquareRoundEB.ttf') format('truetype'),
			url('font/NanumSquareRoundEB.otf') format('opentype');
	}
	
@font-face {
    font-family: 'ARB';
    src: url('font/ARLRDBD.eot'),
			url('font/ARLRDBD.woff') format('woff'),
			url('font/ARLRDBD.ttf') format('truetype'),
			url('font/ARLRDBD.otf') format('opentype');
	}























	