@CHARSET "UTF-8";

.main_wrapper{width:100%;background:#fafbfc;}

/* iOS WebView 사용 시 header safe-view영역에 대한 버전별 솔루션 - https://ayogo.com/blog/ios11-viewport/ */
/* .main_wrapper {
	Status Bar Height on iOS 10.0
	padding-top: 20px;
	Status Bar Height on iOS 11.0
	padding-top: constant(safe-area-inset-top);
	Status Bar Height on iOS 11.0+
	padding-top: env(safe-area-inset-top);
} */

.main_visual{width:100%;border-bottom:1px solid #e6e9ec;background:#fff url(../images/main/main_bg.jpg) no-repeat;background-size:contain;background-position:0 -173%;}
.main_visual .main_top{position:relative;padding:3% 6%;}
.main_visual .main_top .ring{position:absolute;top:31%;left:6%;width:5%;}
.main_visual .main_top .ring img{width:100%;}
.main_visual .main_top .ring_on{position: absolute;right: -1%;top: 0;width: 36%;padding-bottom: 36%;background: #ff123d;border-radius: 50%;}
.main_visual .main_top .logo{width:23%;margin:0 auto;}
.main_visual .main_top .logo img{width:100%;}
.main_visual .main_content{padding: 8% 0 8% 10%;}
.main_visual .main_content .main_myclass{}
.main_visual .main_content .main_myclass .name{margin-bottom: 1.5%;font-size: 3.5em; letter-spacing: -4px;font-weight: 600;color:#fff;}
.main_visual .main_content .main_myclass .curr{width: 87%;font-size: 2.3em; color:#fff;}
.main_visual .main_content .main_myclass .classroom{font-weight: 200;color:#fff;}
.main_visual .main_content .main_myclass .classroom,
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt01{font-size: 2em;letter-spacing:-2px;}
.main_visual .main_content .line{width: 4%;padding-bottom: 0.3%;background: #fff;margin: 5% 0;}
.main_visual .main_content .myscore{}
.main_visual .main_content .myscore .score_txt,
.main_visual .main_content .myperiod .period_txt {font-size: 2.4em;font-weight: 400;letter-spacing: -2px;color:#fff;}
.main_visual .main_content .myscore .score_num{font-family:'TahomaB';font-size: 5em;line-height: 100%;color:#f6ff00;}
.main_visual .main_content .myscore .score_btn{display: inline-block;margin: 2% 0 6% -2%;width: 30%;}
.main_visual .main_content .myscore .score_btn img{width:100%;}
.main_visual .main_content .myperiod{}
.main_visual .main_content .myperiod .period_day{font-family:'RixGoL';font-size: 2.2em;letter-spacing: -2px;color:#fff;}

.main_visual .main_menu{padding: 2% 6%;}
.main_visual .main_menu .menu_list{width: 100%;margin: 6% 0;}
.main_visual .main_menu .menu_list .menu_icon{width: 14%;float: left;}
.main_visual .main_menu .menu_list .menu_icon img{width:100%;}
.main_visual .main_menu .menu_list .menu_txt{float: left;width: 77%;padding: 0.7% 3%;}
.main_visual .main_menu .menu_list .menu_txt span{width: 100%; display: block;}

.main_visual .main_menu .menu_list .menu_txt .txt02{color: #999;max-width: 95%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main_visual .main_menu .menu_list .menu_arrow{float: right;width: 3%;margin-top: 4.5%;}
.main_visual .main_menu .menu_list .menu_arrow img{width:100%;}

.main_eventbanner{width:100%;margin:3% 0;}
.main_eventbanner img{width:100%;}

.main_title{margin-bottom: 3%;font-size:3em;font-weight:500;letter-spacing: -2px;text-align:center;}

.main_notice{width: 100%;padding: 4% 0;background: #fff;border:solid #e6e9ec; border-width:1px 0;}
.main_notice .main_notice_list{overflow-x: auto;overflow-y: hidden;-ms-overflow-style: none;}
.main_notice .main_notice_list::-webkit-scrollbar { display:none; }
.main_notice .main_notice_list ul{margin-left: 6%;}
.main_notice .main_notice_list ul li{float:left;padding-right:1%;}
.main_notice .main_notice_list ul li img{width:100%;}
.main_notice .main_notice_list ul li .notice_title{display:block;margin-top: 3%;font-size: 2.4em;font-weight: 500;letter-spacing: -2px;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main_notice .main_notice_list ul li .notice_date{font-family: 'RobotoR';font-size: 2.2em;color: #999;line-height: 100%;}

.main_bot_menu{margin-top:3%;background:#fff;border:solid #e6e9ec; border-width:1px 0;}
.main_bot_menu .main_bot_menu_btn{width: 49.8%;padding: 3.6% 0;}
.main_bot_menu .main_bot_menu_btn a{display: block;width: 100%;text-align: center;}
.main_bot_menu .main_bot_menu_btn .bot_menu_icon{display: inline-block;}
.main_bot_menu .main_bot_menu_btn .bot_menu_icon img{width:100%;}
.main_bot_menu .main_bot_menu_btn01{float:left;border-right: 1px solid #e6e9ec;}
.main_bot_menu .main_bot_menu_btn01 .bot_menu_icon{width:14%;}
.main_bot_menu .main_bot_menu_btn02{float:right;}
.main_bot_menu .main_bot_menu_btn02 .bot_menu_icon{width:9.4%;}
.main_bot_menu .main_bot_menu_btn .bot_menu_txt{margin-left: 3%;}

.main_companyoffer{width: 100%;padding: 4% 0;}
.main_companyoffer .main_companyoffer_listWrap{padding: 0 6%;}
.main_companyoffer .main_companyoffer_list{background: #fff;padding: 5% 6%;margin-bottom: 3%;border-bottom: 1px solid #e6e9ec;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day{border-right: 1px solid #e6e9ec;display: inline-block;text-align: center;padding: 1% 4% 1% 0; width: 20%;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt01{color:#999;line-height: 100%;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{color:#688dff;font-size: 4em;line-height: 100%;font-weight: 700;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt{display: inline-block;padding: 0.5% 0 2.5% 5%;width: 70%;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_name{font-size:2.2em;color: #222;font-weight: 500;letter-spacing: -2px;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_title{display: block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}





/* 미디어쿼리 */

@media all and (max-width:960px) {
	
.main_visual{background-position:0 -226%;}
.main_visual .main_content .main_myclass .name{font-size: 3.2em;}
.main_visual .main_content .main_myclass .curr{font-size: 2em;}
.main_visual .main_content .main_myclass .classroom,
.main_visual .main_content .myperiod .period_day,
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_name{font-size: 1.8em;}
.main_visual .main_content .myscore .score_txt,
.main_visual .main_content .myperiod .period_txt{font-size: 2em;}
.main_visual .main_content .myscore .score_num{font-size: 4.2em;}

.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt01{font-size:1.6em;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{font-size:3.5em;}
	
}

@media all and (max-width:800px) {
	
.main_visual{background-position:0 -152%;}
.main_visual .main_content .main_myclass .name{font-size: 3em;}
.main_visual .main_content .main_myclass .curr{font-size: 1.7em;}
.main_visual .main_content .main_myclass .classroom,
.main_visual .main_content .myperiod .period_day{font-size: 1.5em;}
.main_visual .main_content .myscore .score_txt,
.main_visual .main_content .myperiod .period_txt{font-size: 1.7em;}
.main_visual .main_content .myscore .score_num{font-size: 3.5em;}

.main_visual .main_menu .menu_list .menu_txt{padding:1% 3%;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_name{font-size: 1.4em;}

.main_title{font-size:2.5em;}
.main_notice .main_notice_list ul li .notice_title,
.main_notice .main_notice_list ul li .notice_date{font-size:1.7em;letter-spacing: -1px;}

.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt01{font-size:1.3em;letter-spacing: -1px;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{font-size:3em;}

}

@media all and (max-width:700px) {
	
.main_visual .main_content .main_myclass .name{font-size: 2em;letter-spacing: -3px;}
.main_visual .main_content .main_myclass .curr{font-size: 1.3em;}
.main_visual .main_content .main_myclass .classroom,
.main_visual .main_content .myperiod .period_day,
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_name{font-size: 1.2em;}
.main_visual .main_content .myscore .score_txt,
.main_visual .main_content .myperiod .period_txt{font-size: 1.5em;}
.main_visual .main_content .myscore .score_num{font-size: 3em;}

.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt01{font-size:1em;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{font-size:2.5em;}
	
}

@media all and (max-width:560px) {

.main_visual .main_content {padding: 6% 0 7% 10%;}
.main_visual .main_content{padding-left:9%;}
.main_visual .main_content .main_myclass .name{font-size: 1.7em;letter-spacing: -2.5px;}
.main_visual .main_content .main_myclass .curr{font-size: 1.1em;letter-spacing: -1px;}
.main_visual .main_content .main_myclass .classroom,
.main_visual .main_content .myperiod .period_day,
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_name{font-size: 1.1em;letter-spacing: -1.5px;}
.main_visual .main_content .line{margin: 4% 0;}
.main_visual .main_content .myscore .score_txt,
.main_visual .main_content .myperiod .period_txt{font-size: 1.2em;}
.main_visual .main_content .myscore .score_num{font-size: 2.4em;}
.main_visual .main_content .myscore .score_btn{margin-bottom:5%;}

.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt01{font-size:1em;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{font-size:2.2em;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt{width:69%;}
	
}


@media all and (max-width:414px) {

.main_visual{background-position:0 -85%;}
.main_visual .main_content {padding: 8% 0 8% 9%;}
.main_visual .main_content .main_myclass .name{font-size: 1.5em;letter-spacing: -2px;}
.main_visual .main_content .myscore .score_num{font-size: 2.2em;}
.main_visual .main_content .myscore .score_btn{width: 35%;}

.main_title{font-size:1.5em;letter-spacing: -1px;}
.main_notice .main_notice_list ul li .notice_title{font-size:1.2em;}
.main_notice .main_notice_list ul li .notice_date{font-size:1.1em;}

.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt01{font-size:0.9em;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{font-size:1.9em;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_name{font-size:1em;}
.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_title{font-size:1.1em;}

	
}

@media all and (max-width:375px) {

.main_visual{background-position:0 -85%;}
.main_visual .main_content .main_myclass .name{font-size: 1.3em;letter-spacing: -1px;}
.main_visual .main_content .main_myclass .classroom,
.main_visual .main_content .myperiod .period_day{font-size: 1em;letter-spacing: -1px;}
.main_visual .main_content .myscore .score_txt,
.main_visual .main_content .myperiod .period_txt{font-size: 1.1em;letter-spacing: -1px;}
.main_visual .main_content .myscore .score_num{font-size: 2em;}
.main_visual .main_content .myperiod .period_day{letter-spacing: -0.8px;}

.main_title{font-size:1.3em;}
.main_notice .main_notice_list ul li .notice_title{font-size:1em;}
.main_notice .main_notice_list ul li .notice_date{font-size:0.9em;}

.main_companyoffer .main_companyoffer_list .companyoffer_list_txt .co_name{font-size:0.9em}
.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{font-size:1.5em;}
	
}

@media all and (max-width:320px) {

.main_visual{background-position:0 -39%;}
.main_visual .main_content .myscore .score_num{font-size: 1.5em;}
.main_visual .main_content .myscore .score_btn{width: 38%;}

.main_companyoffer .main_companyoffer_list .companyoffer_list_day .co_txt02{font-size:1.2em;}

}







