@CHARSET "UTF-8";

.menu_back_bg{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#2a2a4e;opacity:0.7; z-index: 99;}
.menu_wrapper{position:fixed;top:0;right:-69%;background:#fafbfc;width: 69%;height:100%;overflow:auto; z-index:100;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu_wrapper_open{right:0;}
#menu_wrapper .menu_box{width: 100%;}
#menu_wrapper .menu_box .menu_top{width: 82%;padding: 7% 8% 7% 10%;background: #5c73ff;}
#menu_wrapper .menu_box .menu_top .menu_top_btn{width: 100%;}
#menu_wrapper .menu_box .menu_top .menu_top_btn ul{float: left;width: 90%;}
#menu_wrapper .menu_box .menu_top .menu_top_btn ul li{display: inline;margin-right: 5%;}
#menu_wrapper .menu_box .menu_top .menu_top_btn ul li a{vertical-align:top;}
#menu_wrapper .menu_box .menu_top .menu_top_btn ul li span{color:#fff;}
#menu_wrapper .menu_box .menu_top .menu_top_btn ul li img{margin-right: 1%;}
#menu_wrapper .menu_box .menu_top .menu_top_btn ul li:nth-child(1) img{width: 8.5%;}
#menu_wrapper .menu_box .menu_top .menu_top_btn ul li:nth-child(2) img{width: 9.7%;}
#menu_wrapper .menu_box .menu_top .menu_top_btn .menu_close_btn{float: right;width: 5.7%;margin-top: 1%;}
#menu_wrapper .menu_box .menu_top .menu_top_btn .menu_close_btn img{width: 100%;}
#menu_wrapper .menu_box .menu_top .menu_top_name{margin: 9.5% 0 1%;font-weight: 600;color: #fff;}
#menu_wrapper .menu_box .menu_top .menu_top_modify_btn{width: 100%;}
#menu_wrapper .menu_box .menu_top .menu_top_modify_btn span{color:#fff;}
#menu_wrapper .menu_box .menu_top .menu_top_modify_btn img{width: 2.2%;margin-left: 1.5%;}

#menu_wrapper .menu_box .menu_quick{width: 82%;padding: 7% 8% 7% 10%;}
#menu_wrapper .menu_box .menu_quick ul{width: 100%;text-align:center;}
#menu_wrapper .menu_box .menu_quick ul li{float: left;width: 33.3%;}
#menu_wrapper .menu_box .menu_quick ul li img{width: 51%;}
#menu_wrapper .menu_box .menu_quick ul li span{}

#menu_wrapper .menu_box .menu_list{width: 82%;padding: 7% 8% 7% 10%;margin-bottom: 3.5%;background:#fff;border:solid #e6e9ec;border-width:1px 0;}
#menu_wrapper .menu_box .menu_list .menu_list_title{float: left;width: 37%;}
#menu_wrapper .menu_box .menu_list .menu_list_title p{line-height: 100%;}
#menu_wrapper .menu_box .menu_list .menu_list_sub{float: left;width: 63%;}
#menu_wrapper .menu_box .menu_list .menu_list_sub ul{}
#menu_wrapper .menu_box .menu_list .menu_list_sub ul li{display: inline-block;width: 100%;margin-bottom: 11%;vertical-align:top;}
#menu_wrapper .menu_box .menu_list .menu_list_sub ul li:last-child{margin-bottom: 0;}
#menu_wrapper .menu_box .menu_list .menu_list_sub ul li a{color:#999;}

#menu_wrapper .menu_box .menu_bot_btn{width: 82%;padding: 2% 8% 2% 10%;}
#menu_wrapper .menu_box .menu_bot_btn ul{}
#menu_wrapper .menu_box .menu_bot_btn ul li{display: inline-block;color: #999;}
#menu_wrapper .menu_box .menu_bot_btn ul li:nth-child(2){margin: -1% 3% 0;}
#menu_wrapper .menu_box .menu_bot_btn ul li a{}