@charset "utf-8";

body,html{height:100%; overflow:hidden;}
.container{width:100%; height:100%; background:url(../images/main_bg.jpg);  background-position:center;}

#header{position:fixed; top:0; left:0; width:100%; background:#ffffff; border-bottom:1px solid #e6e6e9; box-shadow: 0px 8px 20px 0px rgba(24, 25, 65, 0.75);}
	.header-wrap{width:1280px; height:44px; margin:0 auto;}
	.header-wrap>a{float:left; margin-top:12px;}
	.header-wrap>p{float:right; font-size:11px; line-height: 44px;}

#content-wrap{width:1280px; margin:0 auto; padding-top: 13%;}
	.title-wrap{width:100%; height:240px; background: url(../images/main_center_bg.png) no-repeat;}
	.title-wrap>div{width: 801px; margin: 0 auto; position:relative; text-align:center;}
	.title-wrap .titimg{}
	.title-wrap .betaimg{position:absolute; bottom: 82px; right: -113px;}
	
	.login-wrap{width:260px; height:87px; margin:0 auto; background:url(../images/main_login_line.png) no-repeat;}
	.login-wrap>div{margin-left: 43px; position: relative;}
	.login-wrap input[type=text]{height: 24px; color: #ffffff; text-align: center; line-height: 24px; width: 107px; margin-left: 16px;}
	.login-wrap label{display: block; position: absolute; top: 7px; cursor: text;}
	.login-wrap .user-id{}
	.login-wrap .user-id img{}
	.login-wrap .user-id input[type=text]{}
	.login-wrap .user-id label{left: 57px; width: 70px; height: 13px; background: url(../images/main_login_txt.png) no-repeat;}
	.login-wrap .student-no{margin-top: 24px;}
	.login-wrap .student-no img{}
	.login-wrap .student-no input[type=text]{}
	.login-wrap .student-no label{left: 45px; width: 104px; height: 16px; background: url(../images/main_num_txt.png) no-repeat;}
	
	.signin_btn{margin:40px auto 0; text-align: center;}
	.signin_btn>a{display: inline-block; width: 230px; height: 59px; border-radius: 30px; background:url(../images/main_signin_btn.png) no-repeat; box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.55); }

	.signup_btn{margin:25px auto 0; width: 59px; height: 13px; background:url(../images/main_signup_btn.png) no-repeat; cursor:pointer;}

#footer{position:fixed; left:0; bottom:0; width:100%;}
	.footer-top{width:100%; height:22px; background:url(../images/footer-bar-bg.png); background-position:center;}
	.footer-txt{width:100%; height:85px; background:rgba(21,20,45,0.6); border-top:2px solid rgba(9,10,29,0.5); text-align:center;}
	.footer-txt>p{width:1280px; margin:0 auto; color:#ffffff; color:rgba(255,255,255,0.7);  line-height: 85px; font-size:11px; letter-spacing:0;}

	


@media screen and (max-width:1280px) {

.header-wrap{width:100%;}
#content-wrap{width:100%; padding-top: 20%;}

}


@media screen and (max-width:992px) {
	
	#content-wrap{padding-top: 30%;}
	.title-wrap>div{width: 80%;}
	.title-wrap .titimg {width: 100%;}
	.title-wrap .betaimg {bottom: 50%; right: -12%; width: 16%;}
	
	.login-wrap{width: 50%; height: auto; margin-top: 10%;}
	.login-wrap>div>img{width:10%;}
	.login-wrap input[type=text]{width: 70%;}
	.login-wrap .user-id label{width: 70%; padding: 2%; background-size: contain; background-position: center;}
	.login-wrap .student-no label{width: 70%; padding: 2%; background-size: contain; background-position: center;}
	.signin_btn {margin: 10% auto 0;}
	
	.signup_btn{width: 12%; height: auto; padding-bottom: 2%; background-size: contain; background-position: center;}
	.footer-txt>p {width: 100%;}
}


@media screen and (max-width:767px) {

	.header-wrap{text-align: center; height: 100px;}
	.header-wrap>a{float: none; display: inline-block; margin-top: 22px;}
	.header-wrap>a>img{width: 225px;}
	.header-wrap>p{display: none;}
	
	#content-wrap{padding-top: 35%;}
	.login-wrap{width: 80%;}
	.login-wrap input[type=text]{width: 80%;}
	.login-wrap .user-id label{width: 80%;}
	.login-wrap .student-no label{width: 80%;}
	
	.signin_btn{margin: 15% auto 0;}
	.signin_btn>a{width: 39%; height: auto; padding-bottom: 10%; background-size: contain; background-position: center;}
	.signup_btn{width:15%; padding-bottom:4%;}
}











