@CHARSET "UTF-8";

#wrapper{width:100%;}

.menu_wrap{position:fixed;top:50%;right:42px;margin-top: -42px;}
.menu_wrap ul{width:12px;}
.menu_wrap ul li{width:4px;height:4px;margin:0 auto 14px;background:url(../images/talk2019/menu_off.png) no-repeat;}
.menu_wrap ul li.on{width:12px;height:12px;background:url(../images/talk2019/menu_on.png) no-repeat;}

#main_visual_wrap{width:100%;background:url(../images/talk2019/main_visual_bg.jpg);background-position:50% 0;}
.main_visual{position:relative;width:1080px;height:948px;margin:0 auto;text-align:center;}
.main_visual h1{padding-top: 50px;}
.main_visual .main_visual_tit{width:100%;margin-top: 100px;}
.main_visual .main_visual_tit img{width:100%;}
.scroll_icon{position:absolute;bottom:50px;left:50%;margin-left:-76px;}

.section_scroll_icon{position:absolute;bottom:30px;left:50%;margin-left:-10px;width:21px;height:21px;background:url(../images/talk2019/section_scrolling.png) no-repeat;}

#section_plan_wrap{width:100%;background:url(../images/talk2019/section_plan_bg.jpg);background-position:50% 0;}
.section_plan{position:relative;width:1080px;height:1080px;margin:0 auto;text-align:center;}
.section_plan .plan_line{position:absolute;top:0;left:-420px;width:1920px;height:1080px;background:url(../images/talk2019/section_plan_line.png) no-repeat;}
.section_plan .list_tit1{font-size:20px;}
.section_plan .list_tit2{font-size:45px;margin:22px 0 15px;}
.section_plan .list_txt1{font-size:25px;color:#493f9e;}
.section_plan .list_txt2{font-size:16px;font-family:'NSR_EB';}
.section_plan .list_ul{}
.section_plan .list_ul li{margin-bottom: 1px;}
.section_plan .list_ul li p{display: inline-block;padding-left: 6px;font-size:15px;font-family:'NSR_R';background:url(../images/talk2019/list_dot.png) no-repeat;background-position: 0px 6px;}
.section_plan .plan_list1{opacity:0;position:absolute;top:83px;left: 397px;text-align:center;}
.section_plan .plan_list1 .list_tit1{width:90px;margin: 0 auto;line-height:95%;padding:16px 0;background:url(../images/talk2019/section_plan_tit_bg1.png) no-repeat;}
.section_plan .plan_list1 .list_txt1{padding:40px 0 12px;}
.section_plan .plan_list1 .plan_box{width:260px;height:228px;margin:0 auto;background:url(../images/talk2019/section_plan_list1.png) no-repeat;}
.section_plan .plan_list1 .plan_list1_icon{position: absolute;top: 22px;right: -362px;width:350px;height:276px;background:url(../images/talk2019/section_plan_list1_icon.png) no-repeat;}
.section_plan .plan_list2{opacity:0;position:absolute;top:483px;left: 22px;text-align:center;}
.section_plan .plan_list2 .list_tit1{width:90px;margin: 0 auto;line-height:95%;padding:16px 0;background:url(../images/talk2019/section_plan_tit_bg1.png) no-repeat;}
.section_plan .plan_list2 .list_txt2{margin-bottom: 3px;}
.section_plan .plan_list2 .plan_list2_left{float: left;}
.section_plan .plan_list2 .plan_box{float: right;width:454px;height:234px;margin: -12px 0 0 50px;padding: 35px 0 0 35px;background:url(../images/talk2019/section_plan_list2.png) no-repeat;text-align:left;}
.section_plan .plan_list2 .plan_list2_icon{position: absolute;top: 189px;left: -26px;width:372px;height:363px;background:url(../images/talk2019/section_plan_list2_icon.png) no-repeat;}
.section_plan .plan_list3{opacity:0;position:absolute;top:765px;left: 403px;text-align:center;}
.section_plan .plan_list3 .list_tit1{width:170px;margin: 0 auto;line-height:95%;padding:16px 0;background:url(../images/talk2019/section_plan_tit_bg2.png) no-repeat;}
.section_plan .plan_list3 .list_txt2{margin-bottom: 3px;}
.section_plan .plan_list3 .plan_list3_icon{position: absolute;top:70px;right:-260px;width:232px;height:199px;background:url(../images/talk2019/section_plan_list3_icon.png) no-repeat;}

#section_form_wrap{width:100%;background:url(../images/talk2019/section_form_bg.jpg);background-position:50% 0;}
.section_form{position:relative;width:1080px;height:1080px;margin:0 auto;text-align:center;}
.section_form .form_tit1{font-size:45px;padding-top: 75px;}
.section_form .form_tit2{font-size:22px;letter-spacing: -0.5px;line-height: 120%;margin: 20px 0 50px;}
.section_form .form_box{width:100%;height:739px;background:url(../images/talk2019/section_form_box.jpg);}
.section_form .form_box .form_table{padding-top:138px;}
.section_form .form_box .form_table table{width:100%;}
.section_form .form_box .form_table table th{vertical-align: top;padding-top: 5px;font-size:20px;line-height: 120%;letter-spacing: 0;text-align: right;}
.section_form .form_box .form_table table td{padding:0 0 20px 16px;font-size:20px;text-align: left;}
.section_form .form_box .form_table table td input[type=text],.section_form .form_box table td input[type=tel]{width:220px;}
.section_form .form_box .form_table table td input[type=radio]{}
.section_form .form_box .form_table table td ul{padding:4px 0 5px;}
.section_form .form_box .form_table table td li{display:inline-block;}
.section_form .form_box .form_table table td label{margin-right:18px;font-size:20px;color:#13499b;}
.section_form .form_box .form_table table td textarea{width:692px;height:70px;}
.section_form .form_box .form_table table td .form_table_txt{font-size:15px;line-height: 130%;letter-spacing: 0;margin-top: 10px;}
.section_form .form_box .form_btn{width:240px;margin: 20px auto 0;line-height:95%;padding:19px 0;background:url(../images/talk2019/section_form_btn.png) no-repeat;}
.section_form .form_box .form_btn a{font-size:20px;}

#section_present_wrap{width:100%;background:url(../images/talk2019/section_present_bg.jpg);background-position:50% 0;}
.section_present{position:relative;width:1080px;height:1080px;margin:0 auto;text-align:center;}
.section_present .present_box1{width:100%;padding-top:80px;}
.section_present .present_box1 img{width:100%;}
.section_present .present_box2{width:100%;margin-top:30px;}
.section_present .present_box2 img{width:100%;}

#section_contact_wrap{width:100%;background:url(../images/talk2019/section_contact_bg.jpg);background-position:50% 0;}
.section_contact{position:relative;width:1080px;height:980px;margin:0 auto;text-align:center;}
.section_contact .contact_tit1{padding-top:83px;font-size:30px;line-height: 120%;}
.section_contact .contact_tit2{margin-top:30px;font-size:40px;color:#82e6ff;}
.section_contact .contact_box{width:100%;margin-top:70px;}
.section_contact .contact_box .contact_map{float:left;width:464px;height:605px;background:url(../images/talk2019/section_contact_map.jpg) no-repeat;}
.section_contact .contact_box .contact_txt{float:right;width:551px;height:533px;padding: 78px 0 0 53px;margin: -3px -5px 0 0;text-align: left;background:url(../images/talk2019/section_contact_txt_bg.png) no-repeat;}
.section_contact .contact_box .contact_txt .contact_txt_p{font-size:35px;}
.section_contact .contact_box .contact_txt dl{margin-top:38px;}
.section_contact .contact_box .contact_txt dt{font-size:20px;color:#f0f0f1;margin-bottom:18px;}
.section_contact .contact_box .contact_txt dd{padding:0 0 1px 6px;font-family:'NSR_R';background:url(../images/talk2019/list_dot.png) no-repeat;background-position: 0px 6px;}

#footer_wrap{width:100%;background:#172d4a;}
.footer{width:1080px;margin:0 auto;padding:38px 0;text-align:center;}

@media all and (max-width:1080px) {
	.main_visual, .section_plan, .section_form, .section_present, .section_contact, .footer{width:98%;}
	.menu_wrap{display:none;}
	.section_plan .plan_list1, .section_plan .plan_list2, .section_plan .plan_list3{opacity:1;}
	.section_form .form_box .form_table table td textarea{width:94%;}
	.section_plan .plan_list2 .plan_box{margin: 44px 0 0 15px;width: 426px;background-size: contain;padding: 28px 0 0 28px;}
	.section_form .form_box{background:#5c9def url(../images/talk2019/section_form_box.jpg) no-repeat;background-size:contain;}
	.section_contact .contact_box .contact_map{width: 43%;height: 0;padding-bottom: 56%;background-size: contain;}
    .section_contact .contact_box .contact_txt{width: 51%;background-size: contain;height: 0;padding: 4% 2% 53% 3%;}
}