@CHARSET "UTF-8";

/* 개인정보 동의 */

#privacy_term_wrap{width:100%;overflow:hidden;}
#privacy_term_wrap #privacy_term_top{width:100%;padding:1% 0;background:#ea2026;text-align:center;}
#privacy_term_wrap #privacy_term_top p{font-size:1.4em;font-family:"NSR_B";color:#fff;}
#privacy_term_wrap #privacy_term_content{width:96%;padding:20px 2%;font-size:1em;line-height:2em;}
#privacy_term_wrap #privacy_term_content h2{margin-bottom:10px;font-size:1.2em;}
#privacy_term_wrap #privacy_term_content table{width:100%;margin:15px 0 30px;}
#privacy_term_wrap #privacy_term_content table, th, td {line-height:1.45;font-size:1em;border-spacing:0;border-collapse:collapse;}
#privacy_term_wrap #privacy_term_content table tbody tr, table tbody th, table tbody td {border:1px solid #ddd;}
#privacy_term_wrap #privacy_term_content table thead tr {background:#5c616c;color:#fff;}
#privacy_term_wrap #privacy_term_content table tbody td {padding:10px 5px;}
#privacy_term_wrap #privacy_term_content table th {padding:10px 5px;background-color:#f8f8f8;color:#333;border:1px solid #ddd;}
#privacy_term_wrap #privacy_term_content table td {background-color:#fefefe;}

@media screen and (max-width: 540px){
	#privacy_term_wrap #privacy_term_top{padding:2.5% 0;}
	#privacy_term_wrap #privacy_term_content{width:88%;padding:20px 6%;}

}








